


@media screen and (max-width:739px){

.wrapper{
    height:7000px;
}

    .wrapper .header .left{
        padding-left: 10px ;
    }
    .wrapper .header .right{
        display:none;
    }
    .wrapper .header .small-icon{
        display: block;left:130px;top:20px;
    }
    .wrapper .content .first-div{
        display: flex; flex-direction: column;
    }
    .wrapper .content .first-div .div-left-text .wrap-left-text .text-p{
        font-size: 17px;
    }
    .wrapper .content .first-div .div-left-text{
        width:100%;height:50%;
    }
    .wrapper .content .first-div .div-left-text .wrap-left-text{
        top:10px;
    }
    .wrapper .content .first-div .div-left-text .wrap-left-text .wrap-hire{
        top:26px;height:50px;line-height: 10px;
    }
    .wrapper .content .first-div .div-right-image{
        height:50%;width:100%;
    }
    .wrapper .content .introduce{
        display: flex; flex-direction: column;height:1200px;
    }
    .wrapper .content .introduce .introduce-left{
        width:100%;height:50%;
    }
    .wrapper .content .introduce .introduce-right{
        width:99%;height:50%;
    }
    .wrapper .content .introduce .introduce-right .introduce-p {
        width:100%;padding-left: 3px;
    }
    .wrapper .content .introduce .introduce-right .introduce-text{
        padding: 0px;
    }
  
    .wrapper .content .introduce .introduce-right .download{
        left:80px;
    }
    .wrapper .content .main-slide .mySlides{
        width:100%;
    }
    .wrapper .content .main-slide .next,
    .wrapper .content .main-slide .prev
    {
        color:white;
    }
    .wrapper .content .skills{
        height:1000px;
    }
    .wrapper .content .skills .skills-wrap{
        display: flex; flex-direction: column;
        top: 0px; padding: 0px;height: 80%;
    }
    .wrapper .content .skills .skills-wrap .item{
        margin: 0px;width:99%;
    }
    .wrapper .content .skills .skills-wrap .item .item-text{
        top:142px;
    }
    .wrapper .content .my-projects-wrap{
        height:1700px;
    }
    .wrapper .content .my-projects-wrap .my-projects-text{
        height:10%;
    }
    .wrapper .content .my-projects-wrap .project-item-wrap{
        display: flex; flex-direction: column;height:90%;
    }
    .wrapper .content .my-projects-wrap .project-item-wrap .project-item .produce-text{
   width:100%; text-align: center;
    }
    .wrapper .content .dev-video{
        display: flex; flex-direction: column;
        text-align: center;
    }
    .wrapper .content .dev-video .dev-image-left{
        width:100%;height:50%;
    }
    .wrapper .content .dev-video .dev-video-right{
        width:100%;height:50%;
    }
    .wrapper .content .contact .small-contact{
        width:100%;margin: 0;
    }
    .wrapper .content .contact .small-contact .contact-text{
        left:0px; font-size: 10px;padding:2px;width:370px;
    }

   
    .wrapper .content .contact .small-contact .subscribe-wrap{
        width:100%;left:0px;padding-left: 10px ;
    }
    .wrapper .content .contact .small-contact .subscribe-wrap .subscribe-child{
        left:20px;width:80px;font-weight: bolder;font-size: 13px;
    }
}






@media screen and (min-width:740px) and (max-width:1023px){
    .wrapper{
        height:6500px;
    }
    .wrapper .header .left{
        padding-left: 20px ;width:20%;
    }
    .wrapper .header .right{
        width:80%; 
    }
    .wrapper .header .right .header-ul .header-li a{
        font-size: 13px;
    }
    .wrapper .content .first-div .div-left-text .wrap-left-text{
        padding-left: 10px ;
    }
    .wrapper .content .first-div .div-left-text .wrap-left-text .text-h1-second{
        font-size: 39px;
    }
    .wrapper .content .first-div .div-left-text .wrap-left-text .text-p{
        font-size: 15px;
    }
    .wrapper .content .first-div .div-right-image .right-image-child{
        width:100%;height:100%;
    }
    .wrapper .content .introduce .introduce-left .introduce-image{
        width:100%;height:100%;
    }
    .wrapper .content .introduce .introduce-right .introduce-p{
        width:100%;
    }
    .wrapper .content .skills{
        height:1100px;
    }
    .wrapper .content .skills .skills-wrap{
        display: grid; grid-template-columns: auto auto;
        padding: 0px ; grid-column-gap:10px ;
        grid-row-gap:10px ;
    }
    .wrapper .content .my-projects-wrap{
        height:1500px;
    }
    .wrapper .content .my-projects-wrap .project-item-wrap{
        display: grid; grid-template-columns: auto auto;
    }
    .wrapper .content .dev-video .dev-image-left img{
        width:100%;
    }
    .wrapper .content .dev-video .dev-video-right .dev-video-child{
        height:100%;top:0px;
    }
    .wrapper .content .contact .small-contact{
        width:90%;
    }
    .wrapper .content .contact .small-contact .contact-text{
        left:20px;
    }
    .wrapper .content .contact .small-contact .subscribe-wrap{
        left:0px;padding-left: 30px;
    }
    .wrapper .content .contact .small-contact .contact-text p{
        font-size: 21px;
    }
}
    

@media screen and (min-width:1024px){
    .wrapper{
        width:1354px;
        margin:0px auto;
    }
}

